<div
  class="fixed left-1/2 top-[45%] sm:top-[40%] -translate-x-1/2 -translate-y-1/2 flex flex-col gap-md sm:gap-lg"
>
  <div class="font-body-primary tracking-wide opacity-0" id="curated">
    [ Curated sites ]
  </div>
  <div
    class="small-caps text-[60px] sm:text-[70px] font-display-primary tracking-wider leading-none flex flex-col gap-sm sm:gap-md"
  >
    <div class="opacity-0" id="first-line">V&Icirc;rtu&aacute;l</div>
    <div class="opacity-0" id="second-line">W&odblac;rks</div>
  </div>
</div>

<script>
  import anime from "animejs/lib/anime.es";

  anime({
    targets: "#first-line",
    translateY: -10,
    opacity: 1,
    easing: "easeInCubic",
    delay: 300,
    duration: 800,
  });

  anime({
    targets: "#second-line",
    translateY: -20,
    opacity: 1,
    easing: "easeInCubic",
    delay: 350,
    duration: 800,
  });

  anime({
    targets: "#curated",
    // translateY: -20,
    opacity: 1,
    easing: "easeInCubic",
    delay: 350,
    duration: 800,
  });
</script>
