<div class="container">
  <div class="first-line">
    <div class="bracket bracket-1">[</div>
    <div class="first-line-digit">C</div>
    <div class="first-line-digit">u</div>
    <div class="first-line-digit">r</div>
    <div class="first-line-digit">a</div>
    <div class="first-line-digit">t</div>
    <div class="first-line-digit">e</div>
    <div class="first-line-digit">d</div>
    <div class="first-line-digit new-word">s</div>
    <div class="first-line-digit">i</div>
    <div class="first-line-digit">t</div>
    <div class="first-line-digit">e</div>
    <div class="first-line-digit">s</div>
    <div class="bracket bracket-2">]</div>
  </div>
  <div class="site-name-container">
    <div class="site-name-line second-line">
      <div>V</div>
      <div>&Icirc;</div>
      <div>r</div>
      <div>t</div>
      <div>u</div>
      <div>&aacute;</div>
      <div>l</div>
    </div>
    <div class="site-name-line third-line">
      <div>W</div>
      <div>&odblac;</div>
      <div>r</div>
      <div>k</div>
      <div>s</div>
    </div>
  </div>
</div>

<style>
  .container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "VG", sans-serif;
  }
  .first-line {
    display: flex;
    gap: 1px;
    /* color: rgb(170, 172, 160, 255); */
    color: rgba(63, 64, 53, 255);
  }
  .first-line-digit {
    opacity: 0;
  }
  .new-word {
    margin-left: 7px;
  }
  .bracket {
    transform: translateY(-10px);
  }
  .bracket-1 {
    margin-right: 2px;
  }
  .bracket-2 {
    margin-left: 2px;
  }
  .site-name-container {
    font-variant: small-caps;
    font-size: 70px;
    letter-spacing: 5px;
    /* color: #0e1c33; */
    color: rgba(44, 36, 33, 255);
  }
  .site-name-line {
    display: flex;
    gap: 1px;
    opacity: 0;
    transform-origin: center center 0;
  }
  .second-line {
  }
  .third-line {
  }
  .a {
    font-size: 100px;
  }
</style>

<script>
  import anime from "animejs/lib/anime.es";

  anime({
    targets: ".first-line-digit",
    translateY: -10,
    opacity: 1,
    delay: anime.stagger(40),
    easing: "easeInCubic",
    duration: 400,
  });

  anime({
    delay: 300,
    targets: ".second-line",
    opacity: 1,
    easing: "easeInCubic",
    duration: 600,
    translateY: -10,
  });
  anime({
    delay: 400,
    targets: ".third-line",
    opacity: 1,
    easing: "easeInCubic",
    duration: 600,
    translateY: -10,
  });
</script>
