---
import Layout from "~layouts/Layout.astro";
---

<Layout>
  <main class="grid place-items-center min-h-screen">
    <div>
      <h1 class="text-xl">Blog</h1>
      <div class="mt-lg">
        <h3>Compound Components in React: a side-by-side comparison</h3>
      </div>
    </div>
  </main>
</Layout>