---
import Layout from "~layouts/Layout.astro";
---

<Layout>
  <main class="flex justify-center mt-2xl">
    <div>
      <h1 class="text-3xl text-gray-600">Blog</h1>
      <div class="mt-lg">
        <a href="/blog/refactoring-using-compound-components">
          <h3 class="">Refactoring using compound components in React</h3>
        </a>
      </div>
    </div>
  </main>
</Layout>
