---
import Layout from "~layouts/Layout.astro";
---

<Layout>
  <main class="flex justify-center mt-2xl">
    <div class="prose">
      <h1 class="">Blog</h1>
      <p class="text-gray-600">More to come in the near future.</p>
      <div class="mt-lg">
        <a href="/blog/refactoring-using-compound-components">
          <h3 class="">Refactoring using compound components in React</h3>
        </a>
      </div>
    </div>
  </main>
</Layout>
