---
import Layout from "../layouts/Layout.astro";
import AnimatedBoxes from "../components/landing/AnimatedBoxes.astro";

import GreetingText from "../components/landing/GreetingText.astro";
---

<Layout preloadFonts={["body-primary", "display-primary"]}>
  <main>
    <AnimatedBoxes />
    <GreetingText />
  </main>
</Layout>
