---
import TextSection from "~components/TextSection.astro";
import Layout from "~layouts/Layout.astro";
---

<Layout>
  <div class="grid place-items-center min-h-screen">
    <div class="font-body-primary p-xl pr-lg">
      <TextSection width="tight">
        <h3 class="text-gray-900 text-xl font-display-primary tracking-wider">
          An Overview
        </h3>
        <p class="mt-md">
          We've years of experience in building websites from scratch and
          working working on existing platforms.
        </p>
        <div class="mt-md flex flex-col gap-md">
          <div class="flex gap-sm">
            <span class="text-green-600">+</span>
            <p class="flex flex-col">
              <span class="font-display-primary tracking-wide">
                Finding optimal solutions for website builds.
              </span>
              <span class="">
                Using different technologies to optimise design considerations
                such as performance, animations and seo.
              </span>
            </p>
          </div>
          <div class="flex gap-sm">
            <span class="text-green-600">+</span>
            <p class="flex flex-col">
              <span class="font-display-primary tracking-wide">
                Creating a design you want.
              </span>
              <span class="">
                We're experienced in listening to clients and collaboratively
                realising website designs that meet and surpass expectations. We
                understand the tools out there and can interpret and develop
                client ideas.
              </span>
            </p>
          </div>
          <div class="flex gap-sm">
            <span class="text-green-600">+</span>
            <p class="flex flex-col">
              <span class="font-display-primary tracking-wide">
                Working with existing cms platforms.
              </span>
              <span class="">
                These include: Wordpress, Squarespace and Wix.
              </span>
            </p>
          </div>
          <div class="flex gap-sm">
            <span class="text-green-600">+</span>
            <p class="flex flex-col">
              <span class="font-display-primary tracking-wide">
                Integrating ecommerce.
              </span>
              <span class=""> Using platforms such as shopify.</span>
            </p>
          </div>
          <div class="flex gap-sm">
            <span class="text-green-600">+</span>
            <p class="flex flex-col">
              <span class="font-display-primary tracking-wide">
                Creating feature rich sites.
              </span>
              <span class="">
                From full on custom cms's, managing authenticated user
                functionality and making donation widgets for charities.
              </span>
            </p>
          </div>
        </div>
        <div class="mt-lg">
          Any questions, please don't hesitate to get in touch. Email:{" "}
          <a class="" href="mailto:ruben@virtualworks.io">
            ruben@virtualworks.io
          </a>.
        </div>
      </TextSection>
    </div>
  </div>
</Layout>
