---
import TextSection from "~components/TextSection.astro";
import Layout from "~layouts/Layout.astro";
---

<Layout>
  <div class="grid place-items-center min-h-screen">
    <div class="font-body-primary p-xl pr-lg">
      <TextSection width="tight">
        <p class="mt-md">
          Websites from conception to design, build and maintenance.
        </p>
        <div class="mt-md flex flex-col gap-md">
          <div class="flex gap-sm">
            <span class="text-green-600">+</span>
            <p class="flex flex-col">
              <span class="font-display-primary tracking-wide">
                Optimised sites
              </span>
              <span class="">
                Using different technologies to optimise considerations such as
                performance, animations and seo.
              </span>
            </p>
          </div>
          <div class="flex gap-sm">
            <span class="text-green-600">+</span>
            <p class="flex flex-col">
              <span class="font-display-primary tracking-wide">
                Curated designs
              </span>
              <span class="">
                Design according to specifications and needs.
              </span>
            </p>
          </div>
          <div class="flex gap-sm">
            <span class="text-green-600">+</span>
            <p class="flex flex-col">
              <span class="font-display-primary tracking-wide">
                Work with existing cms platforms
              </span>
              <span class=""> Including: Wordpress, Squarespace and Wix.</span>
            </p>
          </div>
          <div class="flex gap-sm">
            <span class="text-green-600">+</span>
            <p class="flex flex-col">
              <span class="font-display-primary tracking-wide">
                Integrated ecommerce.
              </span>
              <span class="">Using platforms such as shopify.</span>
            </p>
          </div>
          <!-- <div class="flex gap-sm">
            <span class="text-green-600">+</span>
            <p class="flex flex-col">
              <span class="font-display-primary tracking-wide">
                Creating feature rich sites.
              </span>
              <span class="">
                From full on custom cms's, managing authenticated user
                functionality and making donation widgets for charities.
              </span>
            </p>
          </div> -->
        </div>
        <div class="mt-lg">
          Any questions, please don't hesitate to get in touch:<br />
          <a class="text-gray-800" href="mailto:ruben@virtualworks.io">
            ruben@virtualworks.io
          </a>
        </div>
      </TextSection>
    </div>
  </div>
</Layout>
