---
// appa, alesh, amy, amma, birch, other
import { Image } from "@astrojs/image/components";

import asaticImage from "~images/work/asatic.jpg";
---

<div class="container">
  <Image src={asaticImage} alt="" format="avif" />
</div>

<style></style>
