<div
  class="z-10 font-display-primary fixed top-xs right-xs text-sm sm:text-base"
>
  <a href="/work">work +</a>
</div>
<div
  class="font-display-primary z-10 fixed top-[40%] -translate-y-1/2 -translate-x-[30px] -rotate-90 flex items-center gap-sm text-sm sm:text-base"
>
  <div class="h-[1px] w-[22px] bg-black"></div>
  <a href="/services">services</a>
</div>
<div
  class="font-display-primary z-10 fixed bottom-xs right-xs text-sm sm:text-base"
>
  message to:
  <a href="mailto:ruben@virtualworks.io">ruben@virtualworks.io</a>
</div>

<style>
  .work {
    font-family: "VG", sans-serif;
    z-index: 1;
    position: fixed;
    top: 1em;
    right: 1em;
  }
  .services {
    font-family: "VG", sans-serif;
    z-index: 1;
    position: fixed;
    top: 40%;
    transform: translateY(-50%) translateX(-22px) rotate(-90deg);
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .services .line {
    height: 1px;
    width: 22px;
    background-color: #7f846d;
  }
  .contact {
    font-family: "VG", sans-serif;
    z-index: 1;
    position: fixed;
    bottom: 1em;
    right: 1em;
  }
</style>
