<div
  class="z-30 font-display-primary fixed top-xs right-xs text-sm sm:text-base"
>
  <a href="/work">work +</a>
</div>
<div
  class="font-display-primary z-30 fixed top-[40vh] -translate-y-1/2 -translate-x-[30px] -rotate-90 flex items-center gap-sm text-sm sm:text-base"
>
  <div class="h-[1px] w-[22px] bg-black"></div>
  <a href="/services">services</a>
</div>

<!-- <div
  class="font-display-primary z-30 fixed top-[40vh] rotate-90 -right-xs -translate-y-1/2 flex items-center gap-sm text-sm sm:text-base"
>
  <div class="h-[1px] w-[16px] bg-black"></div>
  <a href="/blog">blog</a>
</div> -->
<div
  class="font-display-primary z-30 fixed top-[99vh] -translate-y-full right-xs text-sm sm:text-base"
>
  contact →
  <a href="mailto:ruben@virtualworks.io">ruben@virtualworks.io</a>
</div>
