<div class="work"><a href="/work">work +</a></div>
<div class="services">
  <div class="line"></div>
  services
</div>
<div class="contact">
  message to:
  <a href="mailto:ruben@virtualworks.io">ruben@virtualworks.io</a>
</div>

<style>
  .work {
    font-family: "VG", sans-serif;
    z-index: 1;
    position: fixed;
    top: 1em;
    right: 1em;
  }
  .services {
    font-family: "VG", sans-serif;
    z-index: 1;
    position: fixed;
    top: 40%;
    transform: translateY(-50%) translateX(-22px) rotate(-90deg);
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .services .line {
    height: 1px;
    width: 22px;
    background-color: #7f846d;
  }
  .contact {
    font-family: "VG", sans-serif;
    z-index: 1;
    position: fixed;
    bottom: 1em;
    right: 1em;
  }
</style>
