---
type Props = {
  width?: "tight";
};

const { width } = Astro.props;
---

<div class="flex justify-center">
  <div
    class={`${width === "tight" ? "max-w-[590px]" : "max-w-[768px]"} w-full`}
  >
    <slot />
  </div>
</div>
