---
// appa, alesh, amy, amma, birch, other

import Layout from "~layouts/Layout.astro";

import Projects from "~components/work/Projects.astro";
---

<Layout pageTitle="work">
  <main>
    <Projects />
  </main>
</Layout>

<style>
  main {
    position: relative;
  }
</style>
