---
// appa, alesh, amy, amma, birch, other
import { Image } from "@astrojs/image/components";

import Layout from "~layouts/Layout.astro";

import asaticImage from "~images/work/asatic.jpg";
import Projects from "~components/work/Projects.astro";

const projects = [{ title: " Asatic", image: asaticImage }];
---

<Layout pageTitle="work">
  <main>
    <Projects />
  </main>
</Layout>

<style>
  main {
    position: relative;
  }
</style>
