---
// appa, alesh, amy, amma, birch, other

import Layout from "~layouts/Layout.astro";

import Projects from "~components/work/Projects.astro";
---

<Layout
  preloadFonts={[
    "alesh",
    "asatic-r",
    "birch-b",
    "body-primary",
    "display-primary",
    "piros",
  ]}
>
  <main class="min-h-screen grid place-items-center">
    <Projects />
  </main>
</Layout>
