---
import HelpIcon from "~components/icons/HelpIcon.astro";
---

<span
  class="absolute -right-sm top-1/2 -translate-y-1/2 translate-x-full cursor-help rounded-full p-xxs text-gray-400 hover:bg-gray-100"
>
  <HelpIcon />
</span>
