---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";

export interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>virtualWorks{pageTitle ? ` - ${pageTitle}` : undefined}</title>
    <link rel="stylesheet" href="https://use.typekit.net/ewe1rrd.css" />
  </head>
  <body>
    <Navigation />
    <slot />
  </body>
</html>
<style is:global>
  body {
    /* font-family: "VG", sans-serif; */
    /* color: rgba(44, 36, 33, 255); */
  }
</style>
