---
// alesh, appa, amy, amma, birch, other
import { Image } from "@astrojs/image/components";

import asaticImage from "~images/work/slider/asatic.jpg";
import amyImage from "~images/work/slider/amy.png";

const projects = [
  { title: " Asatic", image: asaticImage, description: "website & cms" },
  {
    title: " Amy Rodriguez Jewellery",
    image: amyImage,
    description: "website",
  },
];
---

<div class="container">
  <div class="content-container">
    <div id="project1" class="project-container">
      <div class="image-container">
        <Image id="image1" src={asaticImage} alt="" format="avif" />
        <!-- <Image src={amyImage} alt="" format="avif" /> -->
      </div>
      <div class="text-container">
        <div class="description-container">
          <p id="description1" class="project-type-text">
            <span>website & cms</span>
            <span class="line"></span>
          </p>
        </div>
        <div class="title-container"><h2 id="title1">Asatic</h2></div>
        <p id="link1" class="view-project-text">view project</p>
      </div>
    </div>
  </div>
</div>

<style>
  .container {
    font-family: "KR", sans-serif;
    margin-top: 20vh;
    margin-left: 20%;
  }
  .content-container {
    /* transform: translateY(100%); */
  }
  .project-container {
    display: flex;
    /* visibility: hidden; */
    opacity: 0;
    overflow-y: hidden;
  }
  .image-container {
    position: relative;
    width: 350px;
    height: 500px;
    transform: translateY(100%);
  }
  .image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .text-container {
    position: relative;
    font-family: "FN", sans-serif;
  }
  .title-container {
    transform: translateY(100%);
  }
  .text-container h2 {
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 2px;
    transform: translateX(-60px) translateY(220px);
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(
      to right,
      white 0%,
      white 60px,
      black 60px,
      black 100%
    );
    opacity: 0;
  }
  .description-container {
    transform: translateX(40px) translateY(calc(100% + 170px));
  }
  .text-container .project-type-text {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 20px;
    letter-spacing: 1px;
    opacity: 0;
  }
  .text-container .line {
    display: block;
    width: 18px;
    height: 1.5px;
    background-color: black;
  }
  .text-container .view-project-text {
    position: absolute;
    bottom: 0;
    left: 250px;
    white-space: nowrap;
    cursor: pointer;
    opacity: 0;
  }
</style>
<style>
  #image1 {
    /* transform: translateY(100%); */
  }
</style>

<script>
  import anime from "animejs/lib/anime.es";

  const project1 = anime.timeline({
    targets: "#project1",
    easing: "cubicBezier(.5, .05, .1, .3)",
  });
  project1.add({
    opacity: 1,
    duration: 0,
  });

  const image1 = anime.timeline({
    targets: "#image1",
    easing: "spring(6, 70, 80, 3)",
  });
  image1.add({
    delay: 400,
    translateY: "-100%",
    opacity: 1,
  });

  const description1 = anime.timeline({
    targets: "#description1",
    easing: "spring(6, 70, 80, 3)",
  });
  description1.add({
    translateY: "-100%",
    opacity: 1,
  });

  const title1 = anime.timeline({
    targets: "#title1",
    easing: "spring(6, 70, 80, 3)",
  });
  title1.add({
    translateX: -60,
    translateY: "-100%",
    opacity: 1,
  });
</script>
