---
import ProjectsLarge from "./ProjectsLarge.astro";
import ProjectsSmall from "./ProjectsSmall.astro";
---

<div class="hidden sm:block">
  <ProjectsLarge />
</div>
<div class="sm:hidden">
  <ProjectsSmall />
</div>
